<footer>
    <div class='footerNav'>
        <div class='primaryFooterNav'>
            <div class='contact'>
                <ul>
                    <li>
                        <p>&copy; InMyCity Ltd </p>
                    </li>
                    <li>
                        <a href='/contact'>
                            <p>Contact</p>
                        </a>
                    </li>
                    <li>
                        <a href='/about'> About</a>
                    </li>
                </ul>
            </div>
            <div class='social'>
                <ul>
                    <li><a href='/'><img class='faq-icon' src='/images/twitter.png' alt='twitter'></a></li>
                    <li><a href='/'><img class='faq-icon' src='/images/facebook.png' alt='facebook' /></a></li>
                    <li><a href='/'><img class='faq-icon' src='/images/insta.png' alt='instagram' /></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>
</body>

</html>