<%-include('./partials/header.ejs') %>
<div class='aboutDetail'>
<p class='about'> <b>  <br> <br> <br> InMyCity is a social networking site that helps people in the city locate and organize local events. 
    InMyCity allows individuals to connect with newbies, discover new things,  seek support, push themselves out of their usual environment, 
    and pursue their hobbies in a group setting. <br> <br> Visit an art show, try a new restaurant, go trekking, try vine tasting events, 
    discuss over your favourite shows or music  or simply make friends. Do more of what you seek. <br>
    <br> Over 56 cities are actively using InMyCity for differnt events. Be a part of InMyCIty.
</b>
</p>
</div>
<%-include('./partials/footer.ejs') %>