<%-include('./partials/header.ejs') %>
    <div class='aboutDetail'>
        <div class ='about'>
         <h3>Contact US</h3>
         <h4>Address - 9509 University Terrace Drive, NC 28262.</h4>
         <h4>Phone - (704)-699-1251</h4>
        </div>
    </div>
<%-include('./partials/footer.ejs') %>