   <%-include('./partials/header.ejs') %>
   <section class='content'>
        <div class='mainContent'>
            <h2 class='title'>Discover and heal from the best events in the city.</h2> <br><br>
            <p class='description'> All the best events in the city are here! Now don't miss out on the events in the
                city.
                With different categories in events, you can explore for various events in arts, outdoor events and
                events for social service.
                Everyone is welcome here to connect with people sharing
                common interest. <br><br><br>
                Come along, take a step for yourself and create beautiful memories!!!
            </p>
        </div>
        <img src='./images/city.jpeg' class='homeLogo' alt='In My City icon'/>
    </section>
    <%- include('./partials/footer.ejs') %>

  